
.row{
	text-align: center;
	margin-top: 50px;
	height: auto;
	
}

.resume {
	width: 40%;
	height: auto;



}



.social{

	width: 40%;
	height: auto;

}
	

.image{
	width: 30%;
}




/* .image:hover{
	box-shadow: 1px 1px 100px #cecece;
} */


span{
	color: pink;
	background: black;
}


#h1{

	font-family: 'Rubik Mono One', sans-serif;
	margin: 20px auto;
	width: 300px;
	font-size: 20px;
	


}

#h2{
	color: white;
	font-family: 'Rationale', sans-serif;
	font-size: 200%;
	background: linear-gradient(to right,  rgba(255,0,0,0), rgba(255,0,0,250) );
	margin: auto;
	width: 50%;
}

span {
	color: white;
}


p{
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	padding: 2%;
	box-shadow: 1px 1px 9px #edeae6;
}


/* applies when social icon are at the bottom of the page  */

#projectDev{
	/* background: yellow; */
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
	margin-top: 150px;
}

/* .project_link{
	text-align: center;
	display: inline;
} */

.products{
	width: 200px;
	height: 200px;
	float: left;
	background: red;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.products:hover{
	transition: 0.5s;
	width: 200px;
	height: 200px;
	float: left;
	background: red;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgb(49, 46, 46), 0 6px 20px 0 rgb(73, 68, 68);
}




