.row{
text-align: center;
	margin-top: 50px;
	height: auto;
}

.resume {
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;


}

.resume:hover {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;


}

.col-xl-12 {
	margin-top: 20px;
}


.image{
	width: 30%;


}

.image:hover{
	box-shadow: 1px 1px 100px #cecece;
}


span{
	color: pink;
	background: black;
}


#h1{

	font-family: 'Rubik Mono One', sans-serif;
	margin: 20px auto;
	width: 300px;
	font-size: 20px;
	


}

#h2{


	color: white;
	font-family: 'Rationale', sans-serif;
	font-size: 200%;
	background: linear-gradient(to right,  rgba(255,0,0,0), rgba(255,0,0,250) );
	margin: auto;
	width: 50%;
}

span {
	color: white;
}

p{
	
	font-family: 'Julius Sans One', sans-serif;
	text-align: left;
	padding: 2%;
	box-shadow: 1px 1px 9px #edeae6;

}


/* applies when social icon are at the bottom of the page  */


img{
	width: 50px;
	margin-top: 20%;
}

