<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>Facebook - log in or sign up</title>
    <link rel="shortcut icon" href="assets/img/fb-favicon.icijo" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
</head>

<body>

    <!--Start Header Area-->
    <header class="header">
        <div class="container">
            <div class="logo-area">
                <img src="assets/img/Facebook Logo.png" alt="Facebook">

            </div>
            <div class="login-area">
                <form action="#" method="post">
                    <div class="email">
                        <label for="email">Email or Phone</label>
                        <input type="text" id="email">
                    </div>
                    <div class="password">
                        <label for="password">Password</label>
                        <input type="password" id="password">
                        <a href="#">Forgotten account?</a>

                    </div>
                    <div class="login">
                        <input type="submit" value="Log In">
                    </div>

                </form>
            </div>
        </div>
    </header>
    <!--End Header Area-->

    <!--Start Sign Up Area-->
    <section class="signup-area">
        <div class="container">

            <div class="left-area">
                <p>Facebook helps you connect and share with the people in your life.</p>
                <img src="assets/img/connect-with-people.png" alt="Connect with people">

            </div>
            <div class="right-area">
                <h2>
                    Create an account
                </h2>
                <h4>
                    It's quick and easy.

                </h4>
                <form action="#" method="POST">
                    <div class="full-name">
                        <div class="first-name">
                            <input type="text" placeholder="First name">

                        </div>
                        <div class="surname">
                            <input type="text" placeholder="Surname">
                        </div>
                    </div>
                    <input type="text" placeholder="Mobile number or email address">
                    <input type="password" placeholder="New Password">
                    <div class="birthday">
                        <h4>Birthday</h4>
                        <div class="birth-date">
                            <select>
                                <option value="day">Day</option>
                                <option value="day">1</option>
                                <option value="day">2</option>
                                <option value="day">3</option>
                                <option value="day">4</option>
                                <option value="day">5</option>
                                <option value="day">6</option>
                                <option value="day">7</option>
                                <option value="day">8</option>
                                <option value="day">9</option>
                                <option value="day">10</option>
                                <option value="day">11</option>
                                <option value="day">12</option>
                                <option value="day">13</option>
                                <option value="day">14</option>
                                <option value="day">15</option>
                                <option value="day">16</option>
                                <option value="day">17</option>
                                <option value="day">18</option>
                                <option value="day">19</option>
                                <option value="day">20</option>
                                <option value="day">21</option>
                                <option value="day">22</option>
                                <option value="day">23</option>
                                <option value="day">24</option>
                                <option value="day">25</option>
                                <option value="day">26</option>
                                <option value="day">27</option>
                                <option value="day">28</option>
                                <option value="day">29</option>
                                <option value="day">30</option>
                                <option value="day">31</option>
                            </select>
                            <select>
                                <option value="month">Monthe</option>
                                <option value="jan">Jan</option>
                                <option value="feb">Feb</option>
                                <option value="mar">Mar</option>
                                <option value="apr">Apr</option>
                                <option value="may">May</option>
                                <option value="jun">Jun</option>
                                <option value="jul">Jul</option>
                                <option value="aug">Aug</option>
                                <option value="sept">Sept</option>
                                <option value="oct">Oct</option>
                                <option value="nov">Nov</option>
                                <option value="dec">Dec</option>
                            </select>
                            <select>
                                <option value="year">Year</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                            </select>
                        </div>

                    </div>

                    <div class="gender">
                        <h4>Gender</h4>
                        <input id="female" name="gender" type="radio">
                        <label for="female">Female</label>
                        <input id="male" name="gender" type="radio">
                        <label for="male">Male</label>
                        <input id="custom" name="gender" type="radio">
                        <label for="custom">Custom</label>
                    </div>
                    <div class="text-box">
                        <p>
                            By clicking Sign Up, you agree to our <a href="#"> Terms, Data Policy</a> and <a href="#">Cookie Policy.</a> You may receive SMS notifications from us and can opt out at any time.
                        </p>
                    </div>
                    <div class="btn">

                        <input type="submit" value="Sign Up">
                    </div>
                </form>
                <span class="business">
                    <a href="#">Create a Page</a> for a celebrity, band or business.
                </span>

            </div>
        </div>
        <div class="lan">
            <a href="">bangla</a>
            <a href="">English</a>
            <a href="hindi"></a>
        </div>

    </section>
    <!--End Sign Up Area-->


</body>

</html>