body{
    background: rgb(29, 28, 28);
    text-align: center;
    margin-top: 40px;
}


#projectDev{
    margin-top: 150px; 
    text-align: center;
}


.resume{
    
    width: 40%;
    height: auto;
    background: rebeccapurple;
}

.resume:hover{
    transition: 0.7s;
    width: 75%;
    height: auto;
    background: rebeccapurple;
}



a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: coral;
    padding: 10px;
    transition: 0.7s;
    border: 1px solid none;
    border-radius: 10px;

}